<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>registration</title>
</head>
<body>
    <h1>registration</h1>
    <a href='{% url "login" %}'>click for login</a>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At tenetur vel quis esse beatae nulla voluptatibus, quas ipsam laborum natus eveniet illum. Consequatur unde maxime praesentium magni laudantium quae facilis.
    Repellendus, laboriosam? Numquam, laborum autem quasi error accusamus soluta perspiciatis cupiditate quae labore ad recusandae nulla adipisci saepe neque sequi velit at atque aspernatur molestiae repellendus! Beatae sed quisquam sit?
    Modi fugit tempore ex enim est quam nostrum at natus harum non omnis voluptate accusamus, inventore, magni quaerat vero. Placeat reprehenderit commodi nobis modi optio, maiores magni! Quos, doloremque repellendus.
    Molestias asperiores beatae amet aliquid! Ex dolorem voluptatum atque doloribus perferendis, architecto tenetur porro, ratione quaerat excepturi ullam. Facilis natus nobis earum voluptate adipisci consequatur amet? Minima necessitatibus molestiae ad!</p>
</body>
</html>